.quillContainer {
	margin: 3em 15em;
}

.quillContainer > h1 {
	text-align: center;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 2.3rem;
}

.inputContainer {
	margin-bottom: 1em;
}
.inputContainer > input {
	padding: 1em 0 1em 1em;
	border: 1px solid hsl(0, 1%, 85%);
}

.inputTitle {
	width: 50%;
}
.inputTags {
	margin-left: 2em;
	width: 35%;
}

.createBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em 2.5em;
	font-size: 1.2rem;
	background-color: hsl(209, 94%, 62%);
	color: white;
	margin: 1em auto;
}
