.postContainer {
}
.postCard {
	width: 100%;
	background-color: hsl(0, 0%, 98%);
	border: 0;
	outline: none;
	cursor: pointer;
	padding: 0 1em;
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(166, 173, 201, 0.2);
}

.postCard + .postCard {
	margin-top: 1.5em;
}

.cardHeader {
	padding: 0 1em;

	display: flex;

	justify-content: space-between;
	align-items: baseline;
}
.cardHeader > h3 {
	color: hsl(0, 0%, 25%);
	text-transform: capitalize;
	text-align: start;
}

.cardHeader > p {
	color: hsl(0, 0%, 50%);
}

.content {
	padding: 0 1em;

	margin-top: -0.5em;
	color: hsl(0, 0%, 70%);
	font-size: 0.9rem;
	text-align: start;
	line-height: 1.5;
}

.tags {
	padding: 0 1em;
	display: flex;
	flex-wrap: wrap;
}
.tag {
	padding: 0.2em 0.6em;

	color: white;
	text-transform: capitalize;
	border-radius: 4px;
}

.tag + .tag {
	margin-left: 0.5em;
}
