.postCard {
	width: 100%;
	background-color: hsl(0, 0%, 98%);
	border: 1px solid hsl(0, 1%, 85%);
	padding: 0 1em;
	position: relative;
	/* border-left: 4px solid; */
	box-shadow: -11px -3px 26px -3px rgba(0, 0, 0, 0.29);
	/* margin-top: 1.5em; */
}

.postCard + .postCard {
	margin-top: 1.5em;
}

.cardHeader {
	display: flex;

	justify-content: space-between;
	align-items: baseline;
}
.cardHeader > h3 {
	color: hsl(0, 0%, 25%);
	text-transform: capitalize;
	text-align: start;
	cursor: pointer;
	padding-left: 1px;
	font-size: 1rem;
}

.cardHeader > p {
	color: hsl(0, 0%, 50%);
	font-size: 0.9rem;
}

.content {
	margin-top: -0.5em;
	color: hsl(0, 0%, 70%);
	font-size: 0.9rem;
	text-align: start;
	line-height: 1.5;
}

.bottomItems {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.options {
	cursor: pointer;
}
.tags {
	display: flex;
}
.tag {
	padding: 0.2em 0.6em;
	font-size: 0.75rem;
	color: white;
	text-transform: capitalize;
	border-radius: 4px;
}

.tag + .tag {
	margin-left: 0.5em;
}

.optionsDropDownMenu {
	background-color: white;
	border: 1px solid hsl(0, 1%, 85%);
	position: absolute;
	border-radius: 4px;
	bottom: 25px;
	right: 10px;
	/* top: -10px; */
}

.dropDownList {
	display: none;
}
.dropDownList > div {
	padding: 0.6em 1em;
	font-size: 0.9rem;
	cursor: pointer;
}
.dropDownList > div:hover {
	background-color: hsl(0, 1%, 97%);
}
