.container {
	margin: 2em;
}

.titleContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.titleContainer > h1 {
	margin: 0;
	text-transform: capitalize;
}

.tags {
	display: flex;
}
.tag {
	padding: 0.1em 0.5em;
	font-size: 0.75rem;

	color: white;
	text-transform: capitalize;
	border-radius: 4px;
}

.tag + .tag {
	margin-left: 0.5em;
}
